<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box" id="heading-2">
    <h1>Your lists:</h1>

      <p class="links"><a href="/">Today</a></p>
    <% listLinks.forEach(function(link) { %>
  <p class="links"><a href="/<%= link %>"><%=  link %></a></p>
  <% }) %>

  </div>

  <div class="box">

<% newListItems.forEach(function(item) { %>

<form action="/delete" method="post">

  <div class="item">
    <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
     <p><%=  item.name  %></p>
  </div>
  <input type="hidden" name="listName" value="<%= listTitle %>"></input>

  </form>
<% }) %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button class="btn" type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>

  </div>

  <div class="box">

<form action="/" method="post">
<input type="text" name="newList" value="" placeholder="Make a new list...">
<button class="create" type="submit" name="button">Create</button>
</form>

  </div>

  <p class="mytext">Tip: You can also create a new list by going to "/" and typing in your custom list name.</p>

<%- include("footer") -%>
